[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=moriarty
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock-fancy -t 'Inserisci la password'

[Install]
WantedBy=sleep.target
